.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);

  & + .modalLogin {

    background-color: var(--white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50rem;
    height: 40rem;
    border-radius: 2rem;
    padding: 2rem;
    z-index: 2;

    & .error {
        color: var(--red);
        font-size: 1.4rem;
        font-weight: 500;
        margin: 1.5rem 0;
        text-align: center;
    }

    & > .loginForm {
      width: 70%;
      margin-top: 3rem;

      & > .labelBox {
        margin-top: 3rem;
      }
    }

  }
}