.mainHomepage {

  .description {
    font-size: 2rem;
    width: 40%;
    line-height: 2;
    margin: 0.5rem 0;
  }
  article {
    width: 50%;
  }
  img {
    width: 100%;
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 1100px) {
  .mainHomepage {
    margin-top: 12rem;

  .homepageContainer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    & article {
      & > img {
        display: none;
      }
    }
    & .description {
      width: 90%;
      text-align: center;
    }
  }
}
}
@media screen and (max-width: 768px) {
}
