.container {
  max-width: 1600px;
  background-color: #ffffff;
  padding: 0 2rem;
  margin: 0 auto;
}

.description {
  font-size: 2rem;
  width: 40%;
  line-height: 2;
}

.title {
  color: #5D5A88;
  background-size: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}