.loginBtn {
  all: unset;
  border: 1px solid #5D5A88;
  border-radius: 1.5rem;
  font-size: 1.8rem;
  color: var(--violet);
  cursor: pointer;
  padding: 1rem 1rem;
  margin: 1rem;
  width: 48%;
  background-color: var(--white);
  text-align: center;
  user-select: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #5D5A88;
    color: var(--white);
  }

}