.envelope {
  margin-top: 10rem;
  width: 72%;

  & h2 {
    color: var(--violet);
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
  }

  & .envelopeList {
    padding: 2rem;
    user-select : none;

    & .envelopeItem {
      position: relative;
      padding: 2rem;
      width: 40rem;
      margin: 2rem .5rem;
      border-radius: 2rem;
      box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      border: 3px solid transparent;
      cursor: pointer;

      & h3 {
        margin : 3.5rem 0 2rem 0;
      }

      & .deleteCross{
        position: absolute;
        top: 2rem;
        right: 3rem;
        font-size: 3rem;
        color: var(--violet);
        cursor: pointer;
      }
    }

    & .selected {
      border: 3px solid var(--violet);
    }

    & .buttonOperation {
      all: unset;
      width: 90%;
      padding: 1rem 1rem;
      font-size: 1.6rem;
      color: var(--white);
      margin-bottom: 3rem;
      border: 1px solid var(--violet);
      border-radius: 2rem;
      outline: none;
      background: var(--violet);
      cursor: pointer;
      transition: .5s;

      & a {
        color: var(--white);
        text-decoration: none;
        margin: 0 auto;
      }

      &:hover {
        background: var(--white);
        color: var(--violet);
      }

    }
  }

}
.aside {
    border: 1px solid var(--violet);
    border-radius: 2rem;
    padding: 2rem;
    width: 28%;
    max-height: 80vh;
  overflow: scroll;

  & .labelBoxEnvelope {
      position: relative;
      width: 100%;
    margin-top: 1rem;

      & input {
        width: 100%;
        padding: 1rem 1rem;
        font-size: 1.6rem;
        color: var(--violet);
        margin-bottom: 3rem;
        border-bottom: 1px solid var(--violet);
        border-radius: 2rem;
        outline: none;
        background: transparent;

        &:focus ~ label,
        &:valid ~ label {
          top: -2.5rem;
          left: 0;
          color: var(--violet);
          font-size: 1.2rem;
          opacity: 1;
        }
      }

      & label {
        position: absolute;
        top: .2rem;
        left: 1.2rem;
        padding: 1rem 0;
        font-size: 1.6rem;
        color: var(--violet);
        pointer-events: none;
        transition: .5s;
        opacity: 0.8;
      }

    }
  & .submitButton {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    color: var(--white);
    margin-bottom: 3rem;
    border: 1px solid var(--violet);
    border-radius: 2rem;
    outline: none;
    background: var(--violet);
    cursor: pointer;
    transition: .5s;
    &:hover {
      background: var(--white);
      color: var(--violet);
    }
  }
  & .deleteButton {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.6rem;
    color: var(--violet);
    margin-bottom: 3rem;
    border: 1px solid var(--violet);
    border-radius: 2rem;
    outline: none;
    background: var(--white);
    cursor: pointer;
    transition: .5s;
    &:hover {
      background: var(--red);
      color: var(--white);
      border: 1px solid var(--red)
    }
  }
}


